
body {
        color:orange;
}

line {
        stroke: #666;
}

.node {
        pointer-events: all;
}

circle {
        stroke: none;
        fill:red;
        stroke-width: 40px;
}

.node text {
        font: 24px sans-serif;
        fill:red;
}

